*{
    margin: 0;
    padding: 0;
body{
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
align-items: center;
background-color: lab(95.68% -2.31 -0.82);
min-height: 100vh;

}

}
.calculator_wrapper{
width: 250px;
background-color: #0d0c0c;
padding: 20px;
border-radius: 13px;
 box-shadow:12px 14px 10px lab(86.49% 0.68 0.23);  
}

.display{
    width: 250px;
    height: 35px;
    font-size: 35px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    height: 40px;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    background-color: hsla(34, 96%, 52%, 0.833);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;

}
    
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}   

   button:hover{
    background-color: rgb(255, 238, 0);
   } 
    
    .equal{
        grid-column: span 2;
    } 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    